@font-face {
    font-family: "AMATIC";
    src: url(fonts/Amatic-Bold.ttf);
}
body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-family: "AMATIC";
    box-sizing: border-box;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: rgb(246, 255, 0);
    overflow: hidden;
    font-size: 18px;
    touch-action: none;
}
/*titulos*/
.titulo{
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    height: 10%;
    transform: translateY(-8000px);
    transition: transform 2s ease-in-out;

}
.titulo-2{
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}
.titulo.active{
    transform: translateY(0px);
}
.corazon{
    color: red;
}
/*img*/
.img-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    margin: auto;
    width: 80%;
    height: 50%;
    position: relative;
    transform: translateX(-8000px);
    transition: transform 4s ease-in-out;
    margin-bottom: 100px;
}
.img-1 img{
    width:60%;
    height:60%;
    transition: all 0.5s ease-in-out;
}
.img-1:hover{
    background-image: url("https://www.publicdomainpictures.net/pictures/20000/nahled/red-hearts-wallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-clip: border-box;
}
.img-1 img.active{
   width: 80%;
   height: 80%;
   transition: all 0.5s ease-in-out;
}
.img-1.active{
    transform: translateX(0px);
}
/*Modal*/
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color:rgba(255,0,128,1);
    z-index: 999;
}
.saludo{
 color: rgb(250,250,250);
 text-align: center;
 font-size: 5rem;
}
input[type="text"]{
    width: 10rem;
}
input::placeholder{
    color: rgb(0,0,0);
    font-weight: bold;
    font-style: inherit;
}
h5{
    display: block;
    position: absolute;
    bottom: 20%;
    margin: auto;
    width: 60%;
    color: #e30052;
    font-size: 6rem;
    font-weight: 800;
    animation: visible 3s infinite;
    cursor: pointer;
}
@keyframes visible {
    20%,60%,90%{
        opacity: 0;
    }
    40%,70%,100%{
        opacity: 1;
    }
    
}
h5.hidden{
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
/*carta*/
@-webkit-keyframes bugfix { 
    from {padding:0;} 
    to {padding:0;} 
  }
  
  .frame-1{
      width: 100%;
  }
  
  #wrap{
      display: none;
      width: 530px;
      height: 1000px;
      margin: 20px auto 0;
  }
  #wrap.active{
    display: block;
    position:relative ;
    top: 150px;
  }
  
  
  #letter_wrap {
      overlay:hidden;
      height: 446px;
      position:relative;
      top: 0px;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
  }
  
  #back {
      position:absolute;
      bottom:128px;
      left:0px;
      background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/144467/before1.png');
      width:530px;
      height:132px;
  }
  
  #flap{
      position:absolute;
      bottom: 65px;
      left: 0px;
      width: 530px;
      height: 390px;
      -webkit-transform-style:preserve-3d;
      z-index: 5;
      -webkit-transition: all 1.5s 1s linear;
  }
  
  #flap>div{
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      display:block;
      position:absolute;
      width: 100%;
      height: 100%;
  }
  
  #open_flap {
      top:195px;
      background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/144467/flap.png') no-repeat;
      -webkit-transform: rotateY(-180deg);
  }
  
  #closed_flap {
      top:0%;
      background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/144467/flap_closed.png') no-repeat 0 195px;
  }
  
  
  #front {
      position:absolute;
      bottom:0px;
      left:0px;
      background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/144467/after.png');
      width:530px;
      height:260px;
  }
  
  .checkbox{
      position: absolute;
      opacity: 0;
      top:0;
      left:0;
      width:70%;
      height: 70%;
      z-index: 100;
  }
  
  #checkbox:checked + #letter_wrap {
      height:776px;
      top:-200px;
      -webkit-transition: all 1s ease-in-out 2s;
      -moz-transition: all 1s ease-in-out 2s;
      -o-transition: all 1s ease-in-out 2s;
      transition: all 1s ease-in-out 2s;
  }
  
  #letter {
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      background: #ffc url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/144467/letter_bg.png');
      position: relative;
      top:200px;
      overlay: hidden;
      height: 190px;
      width: 446px;
      margin: 0 auto;
      padding: 20px;
      border:1px solid #fff;
      border-radius: 3px;
      -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
      -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
      box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
  }
  
  #checkbox:checked + #letter_wrap>#flap{
      -webkit-transition: all 2s linear;
      transform: rotateX(180deg);
      -webkit-transform: rotateX(180deg);
      z-index: -1;
  }
  
  #checkbox:checked +#letter_wrap>#letter{
      height:520px;
      -webkit-transition: all 1s ease-in-out 2s;
      -moz-transition: all 1s ease-in-out 2s;
      -o-transition: all 1s ease-in-out 2s;
      transition: all 1s ease-in-out 2s;
  }
  
  
  #checkbox:checked +#letter_wrap>#letter>p{
      opacity: 1;
      -webkit-transition: opacity 1s ease-in-out 2s;
      -moz-transition: opacity 1s ease-in-out 2s;
      -o-transition: opacity 1s ease-in-out 2s;
      transition: opacity 1s ease-in-out 2s;
  } 
  /* carta dos */
.img-2{
    display: none;
}
.img-2.active{
    display: flex;
   justify-content: center;
   align-items: center;
    width: 50%;
    height: 50%;
  
   
}
/* Responsive */

@media screen and (min-width: 768px){
    .titulo{
        font-size: 10rem;
    }
    h5{
        font-size: 10rem;
        width: 75%;
        right: 1px;
    }

}
@media screen and (min-width: 1024px){
    .titulo{
        font-size: 10rem;
    }
    .img-1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
    }
    .img-1 img{
        width: 50%;
    }
    h5{
        text-align: center;
        bottom: 30%;
        left: 1px;
        font-size: 6rem;
    }
}
@media screen and (max-width: 540px){
    body{
        gap: 0px;
    }
    .img-2.active{
        display:contents;
    }
    .img-2 img {
        bottom: 50%;;
    }
}
@media screen and (max-width: 280px){
    h5{
           font-size: 2rem;
    }
    #wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 1rem;
    }
    #back{
        width: 90vw;
       
    }
    #flap{
        width: 90vw;
    }
    #front{
        width:90vw;
      
    }
    #letter{
        margin: 10px;
        width: 70vw;
    }
}